#battle-map {
  width: 100%;
  height: 100%;
  background-color: #9e8357;

  .marker-text {
    & p {
      font-size: large;
      font-weight: bold;
      text-align: center;
      width: 100px;
      transform: translateX(-50%);
    }
  }
}
