#matchup-planner-widget-modal {
  .modal-container {
    width: 90vw;
    height: 90vh;
  }
}

#matchup-planner-widget-fab {
  margin: 0;
  top: auto;
  right: 20px;
  bottom: 100px;
  left: auto;
  position: fixed;
}

#warlord-cropper-modal {
  .modal-container {
    width: 80vw;
    height: 80vh;
  }
}
